<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Funded Meetups</title>
<meta name="description" content="A collection of meetups offering support to speakers to help cover travel expenses." />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Funded Meetups">
<meta name="twitter:description" content="A collection of meetups offering support to speakers to help cover travel expenses.">

<!-- Open Graph data -->
<meta property="og:title" content="Funded Meetups" />
<meta property="og:site_name" content="Funded Meetups"/>
<meta property="og:description" content="A collection of meetups offering support to speakers to help cover travel expenses." />
<meta property="og:type" content="website" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Funded Meetups">
<meta itemprop="description" content="A collection of meetups offering support to speakers to help cover travel expenses.">

<!-- Twitter Do Not Track -->
<meta name="twitter:dnt" content="on">

<link rel="stylesheet" href="css/main.css" />
