* {
  box-sizing: border-box
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 106%;
  line-height: 1.4;
  background: #F9F8F8;
  color: #272838;
}

.hide {
  display: none;
}

main {
  max-width: 900px;
  height: 100%;
  min-height: 100vh;
  text-align: left;
  padding: 20px;
  margin: 0 auto;
}

a {
  color: #7E7F9A;
  font-weight: bold;
}

a:hover {
  color: #D2958B;
}

input[type="checkbox"] {
  vertical-align: text-bottom;
}

hr {
  border: 1px solid #272838;
  margin: 1em auto;
  width: 80%;
}

ul {
  list-style: none;
  padding: 0 20px;
}

ul li {
  margin: 1em 0;
}

.site-title, .site-description {
  text-align: center;
}

.search input[type="text"] {
  display: block;
  font-size: 1.5em;
  width: 100%;
}

.country {
  background: #7E7F9A;
  color: #F9F8F8;
  font-size: 1.4em;
  text-align: center;
  padding: .2em;
  border-radius: 4px;
}

.city {
  background: #7E7F9A;
  color: #F9F8F8;
  font-size: 1.1em;
  text-align: center;
  padding: .2em 1em;
  margin: .4em 0;
  border-radius: 4px;
  display: inline-block;
}

.meetup-title {
  margin: 1em 0 .3em;
}

.meetup p {
  margin-top: 0;
}
